/* RESET */
*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
/* COMMON */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.container{
    max-width:1400px ;
    margin: auto;
    padding: 0 15% ;
}
body{
    background-color: white;
}
/* MAIN */
.titolo{
    font-family: 'Fredoka', sans-serif;
    color: #E53170 ;
    text-align: center;
    padding-top: 3%;
}
.par1{
    padding: 3% 16%;
    text-align: center;
}
.colonna{
    width: calc(33% - 40px);
    background-color: black;
    float: left;
    margin: 10px 20px;
}
.img{
    width: 111px;
    height: 100px;
    display: block;
}

 